@model Userİnfo
<h class="h4">toplantıya katılma formu</h>
<form action="/Meeting/Apply" method="post">
    <div asp-validation-summary="All"></div>

    <div class="mt-3">
        <label asp-for="Name" class="form-label">name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="Phone" class="form-label">phone</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="Eposta" class="form-label">eposta</label>
        <input asp-for="Eposta" class="form-control" />
    </div>
    <div class="mt-3">
        <label asp-for="wiilattend" class="form-label">katılım durumu</label>
        <select asp-for="wiilattend" class="form-select">
            <option value="true">gelıyorum</option>
          <option value="false">gelmıyorun</option>
            <option value="">seciniz</option>
        </select>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">kaydet</button>
</form>