@model Userİnfo
<h1 class="h4">kayıt listelenme</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ad</th>
            <th>eposta</th>
            <th>telefon</th>
        </tr>
    </thead>

    <tbody>


        <tr class="">
            <td>@Model.Name</td>
            <td>@Model.Eposta</td>
            <td>@Model.Phone</td>


            <td><a class="btn btn-sm btn-primary" href="/Meeting/List/">listeye doon</a></td>
        </tr>
        
    </tbody>
    

</table>
